#home{
  position: relative;
  width: 100%;
  height: 100vh;
}
#CAROUSEL_IMAGE{
  display:flex ;
  width: 100%;
  transition: all 0.8s;

  overflow: hidden;
}
.slide{
  display:flex ;
  width: 100%;
  transition: all 0.8s;
}
#CAROUSEL_IMAGE::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: radial-gradient(100% 100% at 100% 50%, rgba(165, 165, 165, 0), rgba(0, 0, 0, 0.9) 80%);;
  z-index: 1;
}
#CAROUSEL_IMAGE .image img{

  width:100vw ;
  height: 100vh;
  object-fit: cover;
  
  overflow: hidden;
  z-index: -9999;
}
#CAROUSEL_IMAGE .slide .image2 img{
  object-fit: cover;
  object-position:50% 20%;
}

.social{
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px
}
.social span{
  width: 200px;
  height: 3px;
  background-color: var(--color-gray);
  border-radius: 10px;
}
.social div{
  display: flex;
  gap: 10px;
}
.social div a{
  width: 6rem;
  height: 6rem;
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social div a ion-icon{
  font-size: 3rem;
  margin: 10px 0;
  transition: all 0.4s;
}
.social div a ion-icon:hover{
  font-size: 3.5rem;
  color:var(--color-primary);
  
}

@media (max-width: 1020px){
 .social span{
    width: 150px;
 }
}
@media (max-width: 720px){
  #CAROUSEL_IMAGE .slide .image2 img{
    object-position:60% 0%;
  }
  .social, .social div {
    gap: 0;
  }
  .social, .social div a{
    height: 4rem;
  }
  .social, .social div a ion-icon{
    font-size: 2rem;
  }
  .social span{
    width: 100px;
  }
}

